@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior:smooth;
}
body{
    font-family: Poppins, sans-serif;
 
}

.container{
    @apply max-w-[140rem] mx-auto p-[1.5rem];
}
.text__stroke{
    -webkit-text-stroke: 4px #ffffff;
    text-stroke: 4px #ffffff;
}

@layer components{
    /* MOBILE */
    .header__item{
        @apply flex items-center justify-between;
    }
    .header .branding{
        @apply p-[1.2rem] lg:hidden;
    }
    .branding img{
        @apply mx-auto;
    }
    .header__wrapper{
        @apply flex items-center px-[1rem] py-[.5rem] bg-primary justify-between lg:hidden;
    }
    .header__menu h3{
        @apply text-light font-bold;
    }
    .header__nav{
        @apply top-[100rem] max-h-0 overflow-hidden transition-all duration-500 lg:hidden   ;
    }
    .header__nav.open{
        @apply top-0 max-h-[200rem] transition-all duration-500;
    }
    .header__item{
        @apply block border-b-2 my-[1rem] px-[1.5rem];
    }
    .header__item a{
        @apply flex items-center justify-between;
    }
    .header__item a h4{
        @apply  text-dark font-bold;
    }
    .header__item ul li{
        @apply border-b-2 pl-[1.5rem];
    }
    .header__plus span{
        @apply w-[.8rem] h-[.25rem] bg-dark block rounded-full transition ease-linear duration-300 lg:hidden;
    }
    .header__plus span:last-child{
        @apply translate-x-0 translate-y-[-3px] bg-dark duration-[.5s] rotate-[-90deg] ease-in;
    }
    .header__plus span.open{
        @apply transition ease-linear duration-300 rotate-[90deg];
    } 
    .header__item ul{
        @apply block max-h-0 overflow-hidden opacity-0 duration-500 transition-all;
    }
    .header__item ul.open{
        @apply max-h-[200rem] overflow-visible opacity-100 duration-500 transition-all;
    }
    .header__item ul li:last-child{
        @apply border-none;
    }
    .header__item__content{
        @apply my-[1rem];
    }
    .header__item__content ul{
        @apply block max-h-0 overflow-hidden opacity-0 duration-500 transition-all;
    }
    .header__item__content ul.open{
        @apply max-h-[200rem] overflow-visible opacity-100 duration-500 transition-all;
    }
    .header__item__content ul li{
        @apply my-[1rem];
    }
    .header__item__content ul li:last-child{
        @apply border-none;
    }
    .toggle__menu{
        @apply px-[.8rem] py-[1rem] lg:hidden;
    }
    .toggle__menu span{
        @apply w-[1.5rem] h-[.15rem] bg-light block rounded-full duration-[.5s] ease-in;
    }
    .toggle__menu span:nth-child(2){
        @apply my-[.2rem];
    }
    .toggle__menu.open span:first-child{
        @apply translate-x-0 translate-y-[6px] bg-light duration-[.5s] rotate-[225deg] ease-in;
    }
    .toggle__menu.open span:last-child{
        @apply translate-x-0 translate-y-[-5px] bg-light duration-[.5s] rotate-[-225deg] ease-in;
    }
    .toggle__menu.open span:nth-child(2){
        @apply opacity-0 duration-[.5s] ease-in;
    } 

    /* DESKTOP */

    .header{
        @apply lg:relative;
    }
        .header__details{
        @apply hidden lg:flex lg:bg-primary lg:py-[1rem];
    }
    .header__wrapper__desktop{
        @apply  flex items-center justify-between mx-auto gap-[15rem];
    }
    .header__text{
        @apply flex text-light gap-[1rem];
    }
    .header__social ul{
        @apply flex gap-[1rem];
    }
    .header__btn{
        @apply flex gap-[1rem];
    }
    .header__btn a{
        @apply  text-light px-[1rem];
    }
    .header__btn a:last-child{
        @apply border-l-2 border-light;
    }
    .header__btn a i{
        @apply mr-[1rem];
    } 
   
    .header__desktop{
        @apply hidden z-[999] absolute bg-blue-500 p-[2rem] max-w-[70rem] left-0 right-0 mx-auto top-[7rem] rounded-[.5rem] lg:flex;
    }
    .header__wrapper2{
        @apply grid grid-cols-[1.5fr_3.5fr] gap-[2rem] items-center justify-between;
    }
    .header__nav__desktop{
        @apply relative flex gap-x-[1rem] text-light;
    }

    .header__nav__desktop ul.first-drop{
        @apply relative flex gap-x-[1rem]
    }

    .header__nav__desktop ul.first-drop ul li{
        @apply relative py-[1.5rem]
    }

    .header__nav__desktop ul.first-drop ul li a{
        @apply py-[1.5rem]
    }

    .header__nav__desktop ul.second-drop{
        @apply absolute top-[2rem] bg-primary lg:hidden opacity-0
    }

    .header__nav__desktop ul.first-drop li:hover ul.second-drop{
        @apply min-w-[13rem] block opacity-100 p-[1rem]
    }

    .header__nav__desktop ul.third-drop{
        @apply absolute top-0 left-[12rem] bg-primary lg:hidden opacity-0
    }

    .header__nav__desktop ul.second-drop li:hover ul.third-drop{
        @apply min-w-[12rem] block opacity-100 p-[1rem]
    }

    .desktop__btn a{
        @apply w-fit px-[1.5rem] py-[.8rem] text-light bg-primary rounded-md hover:bg-dark;
    } 

/* 
    .header{
        @apply  lg:fixed lg:w-full lg:bg-transparent;
    }

    .header .header__wrapper{
        @apply lg:flex lg:items-center lg:justify-between lg:bg-blue-700 lg:max-w-[75rem] lg:mx-auto lg:rounded-md
    }
    .header .branding{
        @apply bg-light p-[1.5rem] lg:bg-transparent;
    }
    .header .branding img{
        @apply mx-auto
    }
    .header__nav__title{
        @apply bg-primary p-[1rem] flex justify-between items-center lg:bg-transparent lg:hidden
    }
    .header__nav__title h2{
        @apply text-light font-bold text-[1.3rem]
    }
    .header__nav__title .toggle__menu span{
        @apply w-[1.5rem] h-[.2rem] bg-light block transition-all
    }
    .header__nav__title .toggle__menu.open span:first-child{
        @apply transform translate-y-[6px] rotate-[225deg] transition-all
    }
    .header__nav__title .toggle__menu.open span:nth-child(2){
        @apply opacity-0 transition-all
    }
    .header__nav__title .toggle__menu.open span:last-child{
        @apply transform translate-y-[-6px] rotate-[-225deg] transition-all
    }
    .header__nav__title .toggle__menu span:nth-child(2){
        @apply my-[.2rem]
    }
    .header__nav nav{
        @apply z-[999] max-h-0 overflow-hidden transition-all lg:max-h-[200rem] lg:flex lg:items-center lg:p-[1.5rem];
    }
    .header__nav nav.open{
        @apply max-h-[200rem] transition-all
    }
    .header__nav nav li{
        @apply list-none
    }
    .header__nav .drop__nav h4{
        @apply flex items-center justify-between border-b-[1px] border-gray-400 px-[1.5rem] py-[.8rem] lg:border-none
        lg:gap-[.5rem]
    }
    .header__nav .drop__nav h4 p{
        @apply font-bold text-[1rem] lg:text-light lg:font-normal
    }
    .header__nav .drop__nav .drop__toggle span{
        @apply w-[.8rem] h-[.2rem] bg-dark block transition-all lg:bg-light lg:h-[.1rem] lg:w-[.5rem];
    }
    .header__nav .drop__nav .drop__toggle span:first-child{
        @apply lg:transform lg:rotate-[-45deg] lg:translate-x-[5px] lg:translate-y-[.15rem];
    }
    .header__nav .drop__nav .drop__toggle span:last-child{
        @apply transform rotate-[270deg] translate-y-[-.15rem] lg:rotate-[45deg] lg:translate-y-0;
    }

    .header__nav .drop__nav .drop__toggle.open span:last-child{
        @apply transform rotate-[0deg] transition-all
    }
    .header__nav .drop__content{
        @apply max-h-0 overflow-hidden transition-all lg:max-h-[20rem] lg:absolute lg:bottom-[-25rem] lg:bg-primary lg:min-w-[10rem] lg:opacity-0 lg:py-[1rem];
    }
    .header__nav .drop__content.open{
        @apply max-h-[200rem] transition-all;
    }
    .header__nav .drop__content ul li:not(first-child){
        @apply border-b-[1px] border-gray-400 lg:border-none;
    }
    .header__nav .drop__content ul li{
        @apply py-[1rem] lg:p-[1rem]
    }
    .header__nav .drop__content ul li a{
        @apply px-[3rem] text-[.8rem] lg:px-0 lg:text-light lg:text-[1.2rem]
    }
    .header__nav .drop__content ul li:hover{
        @apply lg:bg-light
    }
    .header__nav .drop__content ul li:hover a{
        @apply lg:text-primary
    }
    .header__nav nav a.free{
        @apply hidden lg:block 
    } */

}

/* BANNER */
@layer components{
    .banner{
        @apply bg-slider1 bg-cover bg-no-repeat max-h-[75vh] lg:max-h-[100vh] lg:pt-[3rem] pb-[5rem] lg:pb-[8rem];
    }
    .banner__wrapper{
        @apply pt-[11rem] lg:max-w-[90rem] lg:mx-auto;
    }
    .banner__img{
        @apply hidden lg:flex;
    }
    .banner__img img{
        @apply lg:w-[100%];
    }
    .banner__content{
        @apply lg:flex lg:flex-row-reverse lg:gap-[5rem];
    }
    .banner__item{
        @apply block;
    }
    .banner__bg__text{
        @apply absolute top-[20%] lg:top-[30%];
    }
    .banner__bg__text h4{
        @apply text-transparent font-bold text-[5rem] opacity-10 lg:text-[9rem];
    }
    .banner__text{
        @apply z-50 flex flex-col items-center justify-center;
    }
    .banner__text h2{
        @apply text-center flex flex-wrap font-semibold text-light text-[1.5rem] max-w-[20rem] leading-[3rem] mb-[1rem] lg:text-left lg:text-[4rem] lg:max-w-[65rem] lg:leading-[6rem];
    }
    .banner__text h3{
        @apply text-center flex flex-wrap font-semibold text-[1.2rem] text-light max-w-[25rem] leading-[2rem] lg:text-[1.5rem] lg:text-left lg:max-w-[50rem] lg:items-start;
    }
    .banner__img{
        @apply hidden lg:flex;
    }
    .banner__btn{
        @apply flex gap-[1rem] justify-center mt-[3rem] lg:items-start lg:justify-start lg:mt-[-4rem];
    }
    .banner__btn a{
        @apply w-fit px-[1.5rem] py-[.8rem] text-light bg-primary rounded-md lg:px-[2rem] lg:py-[1rem];
    }
    .banner__btn a:hover{
        @apply bg-dark;
    }
    .banner__btn a:last-child{
        @apply bg-transparent border-[1px] border-primary text-primary;
    }
    .banner__btn a:last-child:hover{
        @apply bg-primary text-light;
    }

}

/* FEATURES */
@layer components{
    .features{
        @apply p-[1rem] lg:mb-[10rem]
    }

    .features__wrapper{
        @apply relative flex gap-x-[1rem]
    }
    .features__card{
        @apply flex rounded-[1rem] bg-light border-[2px] border-[#69d1b1] w-fit hover:shadow-[0px_0px_50px_0px_rgba(0,0,0,.09)] mb-[1rem] mx-[.4rem] max-w-[25rem] min-h-[18rem] transition ease-in-out duration-300
    }

    .features__content{
        @apply flex flex-col items-center text-center justify-center min-h-[18rem]
    }

    .features__content img{
        @apply mb-[1rem]
    }

    .features__text a{
        @apply text-[1.5rem] font-[600] text-dark hover:text-primary transition ease-in-out duration-300
    }

    .features__text p{
        @apply text-[1.1rem] font-[500] text-primary cursor-default
    }

    .features .tns-nav{
        @apply flex items-center justify-center;
    } 
    .features .tns-outer{
        @apply lg:max-w-[60%] lg:w-full lg:mx-auto lg:flex lg:items-center lg:h-fit lg:absolute lg:top-[87%] lg:left-[20%];
    }
    .features .tns-controls{
        @apply text-[2rem] lg:text-primary lg:flex lg:justify-between lg:z-[999] lg:w-[68%] lg:absolute;
    }


}

/* ABOUT */
@layer components{
    .about__wrapper{
        @apply flex flex-col lg:flex-row lg:max-w-[70rem] lg:mx-auto lg:grid lg:grid-cols-2;
    }
    .about__wrapper img{
        @apply w-[25rem] mx-auto;
    }
    .about__right__item{
        @apply flex flex-col gap-[2rem];
    }
    .about__right__item h6{
        @apply text-[1.5rem] font-bold text-primary mt-[2rem];
    }
    .about__right__item h3{
        @apply text-[1.62rem] font-bold text-dark mb-[2rem];
    }
    .right__item__text p{
        @apply text-[1.1rem] text-gray-500 text-justify;
    }
    .right__item__text p:first-child{
        @apply pl-[.5rem] pb-[1.5rem] mb-[1rem] border-l-[3px] border-primary;
    }
    .success__section{
        @apply flex flex-col;
    }
    .success__section h3{
        @apply mb-[1rem];
    }
    .success__bar{
        @apply my-3; 
    }
    .success__bar__circle{
        @apply h-[3px] w-[90px] bg-primary my-0 mx-0 relative rounded-[30px];
    }
    .success__bar__circle::before{
        @apply content-[""] absolute left-0 top-[50%] transform translate-y-[-50%] border-primary border-[6px] rounded-[50%] bg-[#1c1b1b] animate-sliding1;
    }
    .success__bar__circle::after{
        @apply content-[""] absolute right-0 top-[50%] transform translate-y-[-50%] border-primary border-[6px] rounded-[50%] bg-[#1c1b1b] animate-sliding2;
    }
    .success__logo{
        @apply flex my-[2.5rem] mx-auto pt-[2rem] pb-[5rem];
    }
    .success__logo img{
        @apply max-w-[6rem];
    }
}
/* TODAY */
@layer components{
    .today__wrapper{
        @apply lg:max-w-[70rem] lg:mx-auto;
    }
    .today__wrapper h6{
        @apply text-[1.5rem] font-bold text-primary text-center;
    }
    .today__wrapper h3{
        @apply text-[1.62rem] font-bold text-dark mb-[2rem] text-center;
    }
    .today__cards{
        @apply flex flex-col gap-[3rem] lg:grid lg:grid-cols-[_1fr,_1fr,_1fr];
    }
    .today__cards__item{
        @apply relative shadow-xl rounded-md;
    }
    .today__item__text{
        @apply flex flex-col gap-[.5rem] mt-[1.5rem];
    }
    .today__item__text h5{
        @apply text-dark text-[1.2rem] font-semibold mx-[1.5rem] hover:text-primary hover:duration-300;
    }
    .today__ratings{
        @apply flex items-center gap-3 mx-[1.5rem];
    }
    .today__ratings ul{
        @apply flex gap-1;
    }
    .today__ratings p{
        @apply text-[1.2rem] text-gray-400;
    }
    .today__ratings p span{
        @apply italic;
    }
    .author{
        @apply flex items-center gap-3 pb-[1.5rem] border-b;
    }
    .author img{
        @apply w-8 rounded-full ml-[1.5rem];
    }
    .author p{
        @apply text-[#777777] font-semibold mr-[1.5rem];
    }
    .author p span{
        @apply text-[#4b5981];
    }
    .price{
        @apply flex items-center justify-between mb-[1rem] mt-[.5rem] mx-[1.5rem];
    }
    .price p:first-child{
        @apply text-dark text-[1rem] font-semibold;
    }
    .price p:last-child{
        @apply cursor-pointer;
    }
    .img__text i{
        @apply absolute bg-white p-[.5rem] top-3 right-5 text-[1.5rem] rounded-sm;
    }
    .img__text p{
        @apply absolute text-[1.2rem] text-white px-[.5rem] py-[.2rem] top-3 left-3 bg-primary rounded-md;
    }
}

/* INSTRUCTOR */
@layer components{
    .instructor__title h6{
        @apply text-[1.5rem] font-bold text-primary lg:text-center;
    }
    .instructor__title h3{
        @apply text-[1.62rem] font-bold text-dark mb-[2rem] lg:text-center;
    }
    .instructor__item{
        @apply border-primary border-opacity-20 border-[2px] py-[2rem] my-[2rem] rounded-md;
    }
    .instructor__list{
        @apply flex gap-x-[1rem] lg:gap-x-[2rem];
    }
    .instructor__item img{
        @apply mx-auto mb-[1rem] rounded-full;
    }
    .instructor__text{
        @apply mx-auto
    }
    .instructor__text h5{
        @apply font-bold text-center text-[1.5rem] text-dark
    }
    .instructor__text p{
        @apply text-center text-gray-400
    }
    .instructor__social{
        @apply border-t-[1px] border-dark mx-auto max-w-[8rem] pt-[1rem] mt-[1rem];
    }
    .instructor__item:hover .instructor__social{
        @apply border-primary ease-in-out transition duration-300;
    }
    .instructor__social ul{
        @apply flex gap-[.5rem] justify-center;
    }
    .instructor__social ul li a{
        @apply py-[.3rem] px-[.6rem] rounded-md bg-[#dbf4ec] hover:bg-primary
    }
    .instructor__social ul li a i{
        @apply text-[#18b887];
    }
    .instructor__social ul li a:hover i{
        @apply text-light;
    }
    .instructor .tns-outer{
        @apply lg:max-w-[60%] lg:w-full lg:mx-auto lg:flex lg:items-center lg:h-fit;
    }
}

/* FACILITY */
@layer components{

    .facility__wrapper{
        @apply lg:max-w-[70rem] lg:mx-auto
    }
    .facility__list{
        @apply lg:grid lg:grid-cols-4 gap-[1.5rem];
    }
    .facility__title h6{
        @apply text-[1.5rem] font-bold text-primary lg:text-center;
    }
    .facility__title h3{
        @apply text-[1.62rem] font-bold text-dark mb-[2rem] lg:text-center;
    }
    .facility__item{
        @apply border-primary border-[2px] border-opacity-20 py-[4rem] my-[2rem] rounded-md hover:border-transparent hover:shadow-xl lg:px-[2rem];
    }
    .facility__item img{
        @apply mx-auto mb-[1rem];
    }
    .facility__item h5{
        @apply font-bold text-center text-[1.5rem] text-dark
    }
    .facility__item p{
        @apply text-center text-gray-400
    }
}

/* NEWS */
@layer components{
    .news__title h6{
        @apply text-[1.5rem] font-bold text-primary lg:text-center;
    }
    .news__title h3{
        @apply text-[1.62rem] font-bold text-dark mb-[2rem] lg:text-center;
    }
    .news__list{
        @apply lg:flex lg:gap-x-[2rem];
    }

    .news__item{
        @apply overflow-hidden bg-light shadow-[0px_5px_4px_0px_rgba(0,0,0,.05)] mb-[1rem] px-[.5rem] min-h-[10rem] pb-[2rem] lg:px-0;
    }

    .news__item:hover .news__tag{
        @apply transition ease-in duration-300;
    }

    .news__item:hover .news__tag span{
        @apply top-0 left-0 w-full h-full transition-all duration-500;
    }

    .news__item:hover .news__tag p{
        @apply left-[2%] p-[.5rem] text-[1.1rem] transition-all duration-500;
    }

    .news__item:hover .figure img{
        @apply scale-[1.1] transition ease-in-out duration-500;
    }
    .news__item figure{
        @apply overflow-hidden relative;
    }
    .news__item figure img{
        @apply   w-[100%] h-[22rem] lg:h-[15rem] transition-all duration-500;
    }
    .news__tag{
        @apply transition ease-in duration-300
    }

    .news__tag span{
        @apply absolute top-[50%] left-[50%] bg-black bg-opacity-50 w-0 h-0 transition-all duration-500
    }

    .news__tag p{
        @apply absolute top-[2%] left-[10%] bg-primary text-light rounded-[.2rem] font-[600] m-[1rem] text-[0] transition-all duration-500
    }
    .news__item:hover img{
        @apply bg-dark scale-[1.08] transition-all duration-500;
    }
    .news__text h5{
        @apply text-[1.3rem] px-[1rem] font-bold text-dark mt-[2rem];
    }
    .news__text ul{
        @apply flex gap-[1rem] px-[1rem];
    }
    .news__text ul li{
        @apply mt-[1rem] text-primary lg:mt-[.5rem];
    }
    .news__text ul li i{
        @apply mr-[.5rem];
    }
    .news__btn{
        @apply flex gap-[1rem] px-[1rem]  mt-[3rem] lg:items-start lg:justify-start lg:mt-[2rem];
    }
    .news__btn a{
        @apply w-[10rem] px-[1.5rem] text-center py-[.8rem] font-semibold text-dark border-dark border-[1px] bg-light rounded-md lg:px-[2rem] lg:py-[1rem];
    }
    .news__btn a:hover{
        @apply bg-primary text-light border-primary transition-all ease-in-out duration-300;
    }
    .news .tns-outer{
        @apply lg:max-w-[60%] lg:w-full lg:mx-auto lg:flex lg:items-center lg:h-fit;
    }
}

@layer components{
    .testimonial{
        @apply px-[2rem] mb-[5rem];
    }
    .testimonial__wrapper{
        @apply lg:grid lg:grid-cols-2 lg:max-w-[70rem] lg:mx-auto lg:gap-[2rem];
    }   
    .testimonial__text h6{
        @apply text-[1.5rem] mt-[3rem] text-center font-bold text-primary lg:text-center;
    }
    .testimonial__text h3{
        @apply text-[1.62rem] text-center font-bold text-dark mb-[2rem] lg:text-center lg:text-[2.3rem];
    } 
    .testimonial__ratings{
        @apply lg:block;
    }
    .testimonial__ratings ul{
        @apply flex;
    }
    .testimonial__ratings p{
        @apply text-gray-400 text-[1.2rem] max-w-[30rem] mt-[1.5rem] mb-[1rem]
    }
    .testimonial__details{
        @apply flex items-start gap-[1.5rem]  my-[1rem];
    }
    .testimonial__details img{
        @apply w-[4rem];
    }
    .testimonial__name h5{
        @apply font-semibold text-dark;
    }
    .testimonial__name h6{
        @apply font-semibold text-primary;
    }

}

/* APPLY */
@layer components{

    .apply{
      @apply bg-[#0EB58208] lg:pb-[5rem];
  }

  .apply__title{
      @apply flex flex-col items-center text-center font-[700] text-[1.6rem] text-primary mb-[2rem] lg:text-[1rem];
  }

  .apply__title h4{
      @apply text-dark px-[2.5rem] lg:text-[3rem] lg:w-[50rem];
  }

  .apply__wrapper{
      @apply flex flex-col gap-y-[3.5rem] lg:grid lg:grid-cols-2 lg:gap-x-[2rem] lg:mx-auto lg:max-w-[70rem];
  }

  .apply__card{
      @apply bg-light shadow-[0px_5px_20px_0px_rgba(0,0,0,.1)] px-[1.5rem] pt-[3rem] pb-[3rem] border-[2px] border-primary;
  }
  .apply__content{
    @apply lg:flex;
  }
  .apply__text{
      @apply mt-[1rem] mb-[1.5rem] lg:block;
  }

  .apply__text p{
      @apply text-primary font-[700] text-[1.1rem];
  }

  .apply__text a{
      @apply text-dark font-[700] text-[1.7rem] hover:text-primary transition ease-in-out duration-300;
  }

  .apply__content ul{
      @apply relative;
  }

  .apply__content ul li:first-child{
      @apply bg-primary rounded-full px-[.8rem] py-[.6rem] w-fit;
  }

  .apply__content ul li a i{
      @apply text-[1.5rem] font-[700] text-light;
  }

  .apply__content ul li:last-child{
      @apply absolute h-[5rem] top-[2%] text-light transition-all duration-500 w-fit;
  }

  .apply__content ul li:last-child a{
      @apply hidden p-0 transition-all duration-500;
  }

  .apply__card:hover .apply__content ul li:first-child{
      @apply bg-transparent rounded-none w-0 px-0 py-0;
  }

  .apply__card:hover .apply__content ul li a i{
      @apply text-[0] font-[700] text-light;
  }

  .apply__card:hover .apply__content ul li:last-child{
      @apply top-0 transition-all duration-500;
  }

  .apply__card:hover .apply__content ul li:last-child a{
      @apply block text-[1.1rem] py-[.8rem] px-[1rem] transition-all duration-500;
  }

}

/* NEWSLETTER */
@layer components{
.newsletter{
    @apply relative lg:max-w-[70rem] lg:mx-auto;
}
.newsletter__card{
    @apply bg-primary rounded-[.3rem] lg:absolute lg:top-[-3rem] lg:left-[0];
}

.newsletter__content{
    @apply px-[1rem] py-[2rem] text-light lg:w-[70rem] lg:px-[2rem];
}

.newsletter__content h4{
    @apply text-[2rem] font-[600];
}

.newsletter__content p{
    @apply text-[1.3rem];
}

.newsletter__content input{
    @apply text-[1rem] text-[#b0afaf] px-[1.5rem] py-[1rem] w-full rounded-[.3rem];
}
}

@layer components{
    .footer__middle {
        @apply bg-[#18406b] lg:pt-[8rem];
    }
    .description__area img{
        @apply mx-auto pt-[12rem] pb-[2rem] lg:pt-[1.8rem];
    }
    .description__area p{
        @apply pb-[1rem] text-[1.2rem]; 
    }
    .middle__row{
        @apply text-center text-white lg:grid lg:grid-cols-4;
    }
    .social-icons i{
        @apply border-[1px] border-white p-[.5rem] rounded hover:bg-primary transition-all;
    }
    .nav_menu1 h2{
        @apply text-[1.5rem] font-bold pt-[2rem] pb-[1.5rem];
    }
    .menu__container ul li a{
        @apply text-[1.2rem];
    }
    .menu__container ul li {
        @apply pb-[1rem] hover:text-primary transition-all;
    }
    .custom__html h2{
        @apply text-[1.5rem] pt-[1.5rem] pb-[1rem] lg:pt-[2rem];
    }
    .witr_sub_table{
        @apply flex justify-between text-[1.2rem] pb-[8px] border-b-[1px] mb-[8px];
    }
}

@layer components{
    .footer-bottom{
        @apply relative bg-[#18406b] text-white pt-[3rem];
    }
    .copy-right-text{
        @apply flex justify-center pb-[1rem] pt-[1rem] text-[1rem];
    }
    .text-right{
        @apply flex justify-center  gap-[1rem];
        
    }
    .text-right li{
        @apply  hover:text-primary transition-all text-[1rem];
    }
    .row{
        @apply border-t-[1px] lg:flex lg:justify-between lg:items-center;
    }
}
