@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior:smooth;
}
body{
    font-family: Poppins, sans-serif;
}

.container{
    @apply max-w-[140rem] mx-auto p-[1.5rem];
}
.text__stroke{
    -webkit-text-stroke: 4px #ffffff;
    text-stroke: 4px #ffffff;
}


.banner .tns-controls{
    @apply text-[2rem]  lg:text-light lg:flex lg:justify-between lg:z-[999] lg:w-[95%] lg:left-[2%] lg:top-[50%] lg:absolute;
}
.banner .tns-outer i{
    @apply bg-primary rounded-full lg:h-[4rem] lg:w-[4rem] lg:py-[1rem] hover:bg-black duration-500 transition-all
}
.features .tns-nav{
    @apply flex items-center justify-center;
} 
.features .tns-outer{
    @apply lg:max-w-[68%] lg:w-full lg:mx-auto lg:flex lg:items-center lg:h-fit lg:-translate-y-[7rem];
}
.features .tns-controls{
    @apply text-[2rem]  lg:text-light lg:flex lg:justify-between lg:z-[999] lg:w-[105%] lg:left-[-2rem] lg:absolute;
}
.features .tns-outer i{
    @apply bg-primary rounded-full lg:h-[4rem] lg:w-[4rem] lg:py-[1rem] hover:bg-black duration-500 transition-all
}

.instructor .tns-controls{
    @apply text-[2rem]  lg:text-light lg:flex lg:items-end lg:gap-[2rem] lg:mb-[2rem] lg:absolute lg:top-[15%] lg:right-[20%];
}
.instructor .tns-controls i{
    @apply bg-primary rounded-full lg:h-[3rem] lg:w-[3rem] lg:py-[.5rem] hover:bg-black
}
.news .tns-outer{
    @apply lg:max-w-[70rem] lg:w-full lg:mx-auto lg:flex lg:items-center lg:h-fit;
}
.news .tns-controls{
    @apply text-[2rem]  lg:text-light lg:flex lg:items-end lg:gap-[2rem] lg:mb-[2rem] lg:absolute lg:top-[15%] lg:right-[20%];
}
.news .tns-controls i{
    @apply bg-primary rounded-full lg:h-[3rem] lg:w-[3rem] lg:py-[.5rem] hover:bg-black
}
.testimonial .tns-controls{
    @apply text-[2rem]  lg:text-light lg:flex lg:items-end lg:gap-[2rem] lg:mb-[2rem] lg:absolute lg:bottom-[-2rem] lg:right-[43%];
}
.testimonial .tns-controls i{
    @apply bg-primary rounded-full lg:h-[3rem] lg:w-[3rem] lg:py-[.5rem] hover:bg-black
}

@layer components{
    .header__wrapper:first-child{
        @apply py-2 lg:bg-[hsl(161.68,85.64%,38.24%)];
    }
    .header__content{
        @apply flex items-center w-full max-w-[100rem] mx-auto justify-center lg:justify-between;
    }
    .header__text{
        @apply hidden  lg:flex items-center text-white gap-4 font-semibold;
    }
    .header__text a{
        @apply flex items-center;
    }
    .header__icons{
        @apply hidden lg:flex items-center gap-3 text-white text-[1.4rem] ;
    }
    .header__icons a{
        @apply hover:text-black transition-all duration-500;
    }
    .header__actions {
        @apply hidden lg:block;
    }
    .header__actions {
        @apply hidden lg:block text-white font-semibold;
    }
    .header__actions a:first-child{
        @apply border-r-2;
    }
    .header__actions a{
        @apply px-5 ;
    }
    .header__actions a i{
        @apply mx-2;
    }
    .header__logo{
        @apply lg:hidden;
    }
    .header__wrapper:last-child{
        @apply lg:fixed lg:w-full lg:top-[5rem] z-50 transition-all duration-500;
    }
    .header__wrapper:last-child.top{
        @apply lg:top-0 transition-all duration-500;
    }
    .header__brand{
        @apply hidden lg:block lg:py-2;
    }
    .header__quote{
        @apply hidden lg:inline-block w-[11rem] text-[1.2rem] text-light mx-auto ;
    }
    .header__quote a{
        @apply bg-primary border-[1px] font-bold border-primary p-[1rem] rounded-md ;
    }
    .header__container{
        @apply flex flex-col items-center justify-between lg:flex-row lg:bg-[hsl(211.08,63.36%,25.69%)] lg:p-[1.5rem] lg:rounded-md lg:w-full lg:max-w-[80rem] lg:mx-auto;
    }
    .header__wrapper h6{
        @apply bg-[hsl(161.68,85.64%,38.24%)] lg:hidden w-full lg:w-fit px-4 py-2 relative text-white font-bold text-[1.5rem] lg:bg-transparent; 
    }
    .header__wrapper ul{
        @apply bg-white w-full h-0 overflow-hidden lg:overflow-visible transition-all left-0 top-[3.2rem] lg:bg-transparent lg:h-fit lg:flex lg:items-center lg:justify-center;
    }
    .header__wrapper ul.open{
        @apply h-full transition-all lg:h-fit;
    }
    .header__wrapper ul li{
        @apply py-3 text-[#444] lg:text-white font-semibold border-t-2 relative lg:border-0;
    }
    .header__wrapper ul li a{
        @apply pl-4 flex items-center;
    }
    .header__wrapper ul li a span::before{
        @apply content-[""] absolute block bg-[#444] w-4 h-1 right-[1rem] transition-all duration-500 lg:hidden;
    }
    .header__wrapper ul li a span::after{
        @apply content-[""] absolute block bg-[#444] w-1 h-4 right-[1.4rem] -translate-y-[.38rem] transition-all duration-500 lg:hidden;
    }
    .header__wrapper ul li a.open span::after{
        @apply hidden transition-all duration-500;
    }
    .header__wrapper ul li a i{
        @apply px-2 hidden lg:block;
    }
    .dropdown{
        @apply z-10 h-full max-h-0 overflow-hidden transition-all lg:absolute lg:translate-y-10 lg:opacity-0 lg:top-[3rem] lg:left-0;
    }
    .header__wrapper ul li:hover .dropdown{
        @apply lg:overflow-visible lg:max-h-[20rem] lg:opacity-100 lg:translate-y-0 transition-all;
    }
    .dropdown.open{
        @apply max-h-[50rem] transition-all duration-500;
    }
    .dropdown ul{
        @apply flex flex-col top-0 mt-3 lg:m-0 h-full lg:h-fit lg:bg-[hsl(161.68,85.64%,38.24%)] transition-all duration-500;
    }
    .dropdown ul li{
        @apply font-normal lg:w-[15rem] lg:hover:bg-white lg:hover:text-primary transition-all relative duration-500;
    }
    .dropdown ul li a{
        @apply hover:text-[hsl(161.68,85.64%,38.24%)] transition-all ml-[2rem] lg:m-0;
    }
    .dropdown ul li a::before{
        @apply hidden;
    }
    .dropdown ul li a::after{
        @apply hidden;
    }
    .dropdown ul li:hover .dropdown.children ul{
        @apply lg:opacity-100 lg:top-[-2rem] transition-all duration-500;
    }
    .dropdown ul li:hover .dropdown.children-portfolio ul{
        @apply lg:opacity-0 transition-all duration-500;
    }
    .dropdown.children ul{
        @apply lg:opacity-0 lg:m-0 lg:absolute lg:left-[15rem] lg:w-fit lg:top-[2rem] transition-all duration-500;
    }
    .dropdown.children ul li{
        @apply relative transition-all;
    }
    .dropdown.children ul li a{
        @apply px-[2rem] transition-all;
    }
    .dropdown.children-portfolio ul{
        @apply lg:opacity-0 lg:invisible lg:absolute lg:py-[1rem] lg:left-[-15rem] lg:max-h-fit lg:w-fit lg:top-0 lg:translate-y-5 transition-all duration-500;
    }
    .dropdown.children ul li:hover .dropdown.children-portfolio ul{
        @apply lg:opacity-100 lg:visible lg:-translate-y-2 transition-all duration-500;
    }
    .dropdown.children-portfolio ul li a{
        @apply px-[4rem] lg:px-[1rem] w-[20rem] transition-all;
    }
    .toggle__menu{
        @apply absolute right-5 top-[35%] lg:hidden;
    }
    .toggle__menu span{
        @apply block bg-white h-[.2rem] w-[2rem] rounded-full;
    }
    .toggle__menu span:nth-child(2){
        @apply my-1;
    }
    .toggle__menu.open span:first-child{
        @apply rotate-[45deg] translate-y-2;
    }
    .toggle__menu.open span:nth-child(2){
        @apply opacity-0 transition-all;
    }
    .toggle__menu.open span:last-child{
        @apply rotate-[-45deg] -translate-y-2;
    }
}

/* BANNER */
@layer components{
    .banner{
        @apply bg-slider1 bg-cover bg-no-repeat max-h-[75vh] lg:max-h-[100vh] lg:pt-[3rem] pb-[5rem] lg:pb-[8rem];
    }
    .banner__wrapper{
        @apply pt-[11rem] lg:max-w-[90rem] lg:mx-auto;
    }
    .banner__img{
        @apply hidden lg:flex;
    }
    .banner__img img{
        @apply lg:w-[100%];
    }
    .banner__content{
        @apply lg:flex lg:flex-row-reverse lg:gap-[5rem];
    }
    .banner__item{
        @apply block;
    }
    .banner__bg__text{
        @apply absolute top-[20%] lg:top-[30%];
    }
    .banner__bg__text h4{
        @apply text-transparent font-bold text-[5rem] opacity-10 lg:text-[9rem];
    }
    .banner__text{
        @apply z-50 flex flex-col items-center justify-center;
    }
    .banner__text h2{
        @apply text-center flex flex-wrap font-semibold text-light text-[1.5rem] max-w-[20rem] leading-[3rem] mb-[1rem] lg:text-left lg:text-[4rem] lg:max-w-[65rem] lg:leading-[6rem];
    }
    .banner__text h3{
        @apply text-center flex flex-wrap font-semibold text-[1.2rem] text-light max-w-[25rem] leading-[2rem] lg:text-[1.5rem] lg:text-left lg:max-w-[50rem] lg:items-start;
    }
    .banner__img{
        @apply hidden lg:flex;
    }
    .banner__btn{
        @apply flex gap-[1rem] justify-center mt-[3rem] lg:items-start lg:justify-start lg:mt-[-4rem];
    }
    .banner__btn a{
        @apply w-fit px-[1.5rem] py-[.8rem] text-light bg-primary rounded-md lg:px-[2rem] lg:py-[1rem] z-[99]
    }
    .banner__btn a:hover{
        @apply cursor-pointer bg-dark
    }
    .banner__btn a:last-child{
        @apply bg-transparent border-[1px] border-primary text-primary;
    }
    .banner__btn a:last-child:hover{
        @apply bg-primary text-light;
    }

}

/* FEATURES */
@layer components{
    .features{
        @apply p-[1rem];
    }
    .features__wrapper{
        @apply flex gap-x-[1rem] lg:mx-auto;
    }
    .features__card{
        @apply flex rounded-[1rem] bg-light border-[2px] border-[#69d1b1] w-fit hover:shadow-[0px_0px_50px_0px_rgba(0,0,0,.09)] mb-[1rem] mx-[.4rem] max-w-[25rem] min-h-[18rem] transition ease-in-out duration-300;
    }
    .features__content{
        @apply flex flex-col items-center text-center justify-center min-h-[18rem];
    }
    .features__content img{
        @apply mb-[1rem];
    }
    .features__text a{
        @apply text-[1.5rem] font-[600] text-dark hover:text-primary transition ease-in-out duration-300;
    }
    .features__text p{
        @apply text-[1.1rem] font-[500] text-primary cursor-default;
    }

}

/* ABOUT */
@layer components{
    .about__wrapper{
        @apply flex flex-col lg:max-w-[70rem] lg:mx-auto lg:grid lg:grid-cols-2 lg:gap-[2rem] lg:items-center;
    }
    .about__wrapper img{
        @apply w-[25rem] mx-auto lg:w-full;
    }
    .about__right__item{
        @apply flex flex-col gap-[2rem];
    }
    .about__right__item h6{
        @apply text-[1.5rem] font-bold text-primary mt-[2rem];
    }
    .about__right__item h3{
        @apply text-[1.62rem] font-bold text-dark mb-[2rem];
    }
    .expert__section h3{
        @apply lg:text-[2.5rem];
    }
    .right__item__text p{
        @apply text-[1.1rem] text-gray-500 text-justify;
    }
    .right__item__text p:first-child{
        @apply pl-[.5rem] pb-[1.5rem] mb-[1rem] border-l-[3px] border-primary;
    }
    .success__section{
        @apply flex flex-col;
    }
    .success__section h3{
        @apply mb-[1rem];
    }
    .success__bar{
        @apply my-3; 
    }
    .success__bar__circle{
        @apply h-[3px] w-[90px] bg-primary my-0 mx-0 relative rounded-[30px];
    }
    .success__bar__circle::before{
        @apply content-[""] absolute left-0 top-[50%] transform translate-y-[-50%] border-primary border-[6px] rounded-[50%] bg-[#1c1b1b] animate-sliding1;
    }
    .success__bar__circle::after{
        @apply content-[""] absolute right-0 top-[50%] transform translate-y-[-50%] border-primary border-[6px] rounded-[50%] bg-[#1c1b1b] animate-sliding2;
    }
    .success__logo{
        @apply flex my-[2.5rem] mx-auto pt-[2rem] pb-[5rem] lg:pt-[1rem];
    }
    .success__logo img{
        @apply max-w-[6rem];
    }
}
/* TODAY */
@layer components{
    .today__wrapper{
        @apply lg:max-w-[70rem] lg:mx-auto;
    }
    .today__wrapper h6{
        @apply text-[1.5rem] font-bold text-primary text-center lg:text-[1rem];
    }
    .today__wrapper h3{
        @apply text-[1.62rem] font-bold text-dark mb-[2rem] text-center lg:text-[2.5rem] lg:max-w-[30rem] lg:mx-auto;
    }
    .today__cards{
        @apply flex flex-col gap-[3rem] lg:grid lg:grid-cols-[_1fr,_1fr,_1fr];
    }
    .today__cards__item{
        @apply relative shadow-xl rounded-md transition-all duration-500;
    }
    .today__cards__item:hover{
        @apply -translate-y-4 transition-all duration-500;
    }
    .today__item__text{
        @apply flex flex-col gap-[.5rem] mt-[1.5rem];
    }
    .today__item__text h5{
        @apply text-dark text-[1.2rem] font-semibold mx-[1.5rem] hover:text-primary hover:duration-300;
    }
    .today__ratings{
        @apply flex items-center gap-3 mx-[1.5rem];
    }
    .today__ratings ul{
        @apply flex gap-1;
    }
    .today__ratings p{
        @apply text-[1.2rem] text-gray-400;
    }
    .today__ratings p span{
        @apply italic;
    }
    .author{
        @apply flex items-center gap-3 pb-[1.5rem] border-b;
    }
    .author img{
        @apply w-8 rounded-full ml-[1.5rem];
    }
    .author p{
        @apply text-[#777777] font-semibold mr-[1.5rem];
    }
    .author p span{
        @apply text-[#4b5981];
    }
    .price{
        @apply flex items-center justify-between mb-[1rem] mt-[.5rem] mx-[1.5rem];
    }
    .price p:first-child{
        @apply text-dark text-[1rem] font-semibold;
    }
    .price p:last-child{
        @apply cursor-pointer;
    }
    .img__text i{
        @apply absolute bg-white p-[.5rem] top-3 right-5 text-[1.5rem] rounded-sm;
    }
    .img__text p{
        @apply absolute text-[1.2rem] text-white px-[.5rem] py-[.2rem] top-3 left-3 bg-primary rounded-md;
    }
}

/* INSTRUCTOR */
@layer components{
    .instructor{
        @apply lg:relative;
    }
    .instructor__wrapper{
        @apply lg:max-w-[70rem] lg:mx-auto;
    }
    .instructor__title h6{
        @apply text-[1.5rem] font-bold text-primary lg:text-left lg:text-[1rem];
    }
    .instructor__title h3{
        @apply text-[1.62rem] font-bold text-dark mb-[2rem] lg:text-left lg:text-[2.5rem] lg:max-w-[30rem];
    }
    .instructor__item{
        @apply border-primary hover:border-transparent border-opacity-20 border-[2px] py-[2rem] my-[2rem] rounded-md transition-all duration-500;
    }
    .instructor__item:hover .instructor__text{
        @apply border-primary w-full transition-all duration-500;
    }
    .instructor__list{
        @apply flex gap-x-[1rem] lg:gap-x-[2rem];
    }
    .instructor__item img{
        @apply mx-auto mb-[1rem] rounded-full;
    }
    .instructor__text{
        @apply mx-auto border-b-[1px] w-[12rem];
    }
    .instructor__text h5{
        @apply font-bold text-center text-[1.5rem] text-dark
    }
    .instructor__text p{
        @apply text-center text-gray-400
    }
    .instructor__social{
        @apply  mx-auto max-w-[8rem] pt-[1rem] mt-[1rem];
    }

    .instructor__social ul{
        @apply flex gap-[.5rem] justify-center;
    }
    .instructor__social ul li a{
        @apply py-[.3rem] px-[.6rem] rounded-md bg-[#dbf4ec] hover:bg-primary
    }
    .instructor__social ul li a i{
        @apply text-[#18b887];
    }
    .instructor__social ul li a:hover i{
        @apply text-light;
    }
    .instructor .tns-outer{
        @apply lg:max-w-[70rem] lg:w-full lg:mx-auto lg:flex lg:items-center lg:h-fit;
    }
}

/* FACILITY */
@layer components{

    .facility__wrapper{
        @apply lg:max-w-[70rem] lg:mx-auto
    }
    .facility__list{
        @apply lg:grid lg:grid-cols-4 gap-[1.5rem];
    }
    .facility__title h6{
        @apply text-[1.5rem] font-bold text-primary lg:text-center;
    }
    .facility__title h3{
        @apply text-[1.62rem] font-bold text-dark mb-[2rem] lg:text-center;
    }
    .facility__item{
        @apply border-primary border-[2px] border-opacity-20 py-[4rem] my-[2rem] rounded-md hover:border-transparent hover:shadow-xl lg:px-[2rem] duration-500 transition-all;
    }
    .facility__item img{
        @apply mx-auto mb-[1rem];
    }
    .facility__item h5{
        @apply font-bold text-center text-[1.5rem] text-dark
    }
    .facility__item p{
        @apply text-center text-gray-400
    }
}

/* NEWS */
@layer components{
    .news{
        @apply relative;
    }
    .news__wrapper{
        @apply lg:max-w-[70rem] lg:mx-auto;
    }
    .news__title h6{
        @apply text-[1.5rem] font-bold text-primary lg:text-left lg:text-[1rem];
    }
    .news__title h3{
        @apply text-[1.62rem] font-bold text-dark mb-[2rem] lg:text-left lg:text-[2.5rem] lg:max-w-[30rem];
    }
    .news__list{
        @apply lg:flex lg:gap-x-[2rem];
    }

    .news__item{
        @apply overflow-hidden bg-light shadow-[0px_5px_4px_0px_rgba(0,0,0,.05)] mb-[1rem] px-[.5rem] min-h-[10rem] pb-[2rem] lg:px-0;
    }

    .news__item:hover .news__tag{
        @apply transition ease-in duration-300;
    }

    .news__item:hover .news__tag span{
        @apply top-0 left-0 w-full h-full transition-all duration-500;
    }

    .news__item:hover .news__tag p{
        @apply left-[2%] p-[.5rem] text-[1.1rem] transition-all duration-500;
    }

    .news__item:hover .figure img{
        @apply scale-[1.1] transition ease-in-out duration-500;
    }
    .news__item figure{
        @apply overflow-hidden relative;
    }
    .news__item figure img{
        @apply   w-[100%] h-[22rem] lg:h-[15rem] transition-all duration-500;
    }
    .news__tag{
        @apply transition ease-in duration-300
    }

    .news__tag span{
        @apply absolute top-[50%] left-[50%] bg-black bg-opacity-50 w-0 h-0 transition-all duration-500
    }

    .news__tag p{
        @apply absolute top-[2%] left-[10%] bg-primary text-light rounded-[.2rem] font-[600] m-[1rem] text-[0] transition-all duration-500
    }
    .news__item:hover img{
        @apply bg-dark scale-[1.08] transition-all duration-500;
    }
    .news__text h5{
        @apply text-[1.3rem] px-[1rem] font-bold text-dark mt-[2rem];
    }
    .news__text ul{
        @apply flex gap-[1rem] px-[1rem];
    }
    .news__text ul li{
        @apply mt-[1rem] text-primary lg:mt-[.5rem];
    }
    .news__text ul li i{
        @apply mr-[.5rem];
    }
    .news__btn{
        @apply flex gap-[1rem] px-[1rem]  mt-[3rem] lg:items-start lg:justify-start lg:mt-[2rem];
    }
    .news__btn a{
        @apply w-[10rem] px-[1.5rem] text-center py-[.8rem] font-semibold text-dark border-dark border-[1px] bg-light rounded-md lg:px-[2rem] lg:py-[1rem];
    }
    .news__btn a:hover{
        @apply bg-primary text-light border-primary transition-all ease-in-out duration-300;
    }
}

@layer components{
    .testimonial{
        @apply relative px-[2rem] mb-[5rem] lg:pb-[3rem];
    }
    .testimonial__wrapper{
        @apply lg:grid lg:grid-cols-2 lg:max-w-[70rem] lg:mx-auto lg:gap-[2rem];
    }   
    .testimonial__text h6{
        @apply text-[1.5rem] mt-[3rem] text-center font-bold text-primary lg:text-center;
    }
    .testimonial__text h3{
        @apply text-[1.62rem] text-center font-bold text-dark mb-[2rem] lg:text-center lg:text-[2.3rem];
    } 
    .testimonial__ratings{
        @apply lg:block;
    }
    .testimonial__ratings ul{
        @apply flex;
    }
    .testimonial__ratings p{
        @apply text-gray-400 text-[1.2rem] max-w-[30rem] mt-[1.5rem] mb-[1rem]
    }
    .testimonial__details{
        @apply flex items-start gap-[1.5rem]  my-[1rem];
    }
    .testimonial__details img{
        @apply w-[4rem];
    }
    .testimonial__name h5{
        @apply font-semibold text-dark;
    }
    .testimonial__name h6{
        @apply font-semibold text-primary;
    }

}

/* APPLY */
@layer components{
.apply{
    @apply bg-[#0EB58208] lg:pb-[5rem];
}
.apply__wrapper{
    @apply lg:flex lg:max-w-[70rem] lg:mx-auto lg:gap-[2rem];
}
.apply__list{
    @apply lg:flex lg:items-center lg:justify-between lg:gap-x-[2rem];
}
.apply__text{
    @apply text-center font-bold text-[1.5rem] mb-5;
}
.apply__text h6{
    @apply text-[1.5rem] mt-[3rem] text-center font-bold text-primary lg:text-center lg:text-[1rem] ;
}
.apply__text h3{
    @apply text-[1.62rem] text-center font-bold text-dark mb-[2rem] lg:text-center lg:text-[2.5rem];
}
.apply__item{
    @apply border-[.1rem] border-primary p-[2rem] my-[1rem] shadow-md hover:shadow-xl hover:border-white lg:flex lg:items-center lg:gap-4 lg:p-[1rem] lg:w-[33rem] lg:h-[15rem]  transition-all duration-500;
}
.apply__content{
    @apply my-[1rem] relative;
}
.apply__content p{
    @apply text-primary font-semibold;
} 
.apply__content h2{
    @apply text-dark font-bold text-[1.5rem];
}
.apply__btn{
    @apply h-[5rem] relative;
}
.apply__btn span{
    @apply inline-block mt-[1rem] z-20 bg-primary w-[2rem] h-[2rem] rounded-full relative transition-all duration-500;
} 
.apply__btn span::before{
    @apply content-[""] block absolute w-[.8rem] lg:w-[.9rem] h-1 bg-white left-[30%] top-[45%];
} 
.apply__btn span::after{
    @apply content-[""] block absolute w-1 h-[.8rem] bg-white left-[45%] top-[30%];
} 
.apply__btn a{
    @apply absolute inline-block w-[7rem] text-center lg:w-[9rem] h-[2rem] lg:h-[2.5rem] lg:text-[1.5rem] opacity-0 left-0 top-0 text-white font-bold p-1 rounded-md transition-all duration-500;
} 
.apply__btn a::after{
    @apply content-[""] block absolute top-0 left-0 rounded-md bg-primary w-0 h-full z-[-1] transition-all duration-500;
}
.apply__item:hover .apply__btn a::after{
    @apply w-full h-full transition-all duration-500;
}
.apply__item:hover .apply__btn a{
    @apply opacity-100 transition-all duration-500;
}
.apply__item:hover .apply__btn span{
    @apply w-0 h-0 transition-all duration-500;
}
.apply__item:hover .apply__btn span::before{
    @apply opacity-0 transition-all duration-500;
}
.apply__item:hover .apply__btn span::after{
    @apply opacity-0 transition-all duration-500;
}

}

/* NEWSLETTER */
@layer components{
.newsletter{
    @apply relative lg:max-w-[70rem] lg:mx-auto;
}
.newsletter__card{
    @apply bg-primary rounded-[.3rem] lg:absolute lg:top-[-3rem] lg:left-[0];
}

.newsletter__content{
    @apply px-[1rem] py-[2rem] text-light lg:flex lg:items-center lg:w-[70rem] lg:px-[2rem] lg:justify-between;
}

.newsletter__text h4{
    @apply text-[2rem] font-[600];
}
.newsletter__text p{
    @apply text-[1.3rem];
}
.newsletter__form{
    @apply lg:flex lg:items-start lg:mt-[2rem];
}
.newsletter__form input{
    @apply text-[1rem] text-[#b0afaf] px-[1.5rem] py-[1rem] w-full rounded-[.3rem] mb-[2rem] lg:w-[20rem] lg:rounded-r-none;
}
.newsletter__form a{
    @apply mx-auto max-w-[40rem] text-center rounded-[.3rem] px-[12rem] py-[1rem]  bg-[#15263b] hover:bg-[#18406b] transition-all duration-500 lg:px-[3rem] lg:rounded-l-none;
}
}

@layer components{
    .footer__middle {
        @apply bg-[#18406b] lg:pt-[8rem];
    }
    .description__area img{
        @apply mx-auto pt-[12rem] pb-[2rem] lg:pt-[1.8rem];
    }
    .description__area p{
        @apply pb-[1rem] text-[1.2rem]; 
    }
    .middle__wrapper{
        @apply lg:max-w-[70rem] lg:mx-auto;
    }
    .middle__row{
        @apply text-center text-white lg:grid lg:grid-cols-4;
    }
    .social-icons i{
        @apply border-[1px] border-white p-[.5rem] rounded hover:bg-primary transition-all;
    }
    .nav_menu1 h2{
        @apply text-[1.5rem] font-bold pt-[2rem] pb-[1.5rem];
    }
    .menu__container ul li a{
        @apply text-[1.2rem];
    }
    .menu__container ul li {
        @apply pb-[1rem] hover:text-primary transition-all;
    }
    .custom__html h2{
        @apply text-[1.5rem] pt-[1.5rem] pb-[1rem] lg:pt-[2rem];
    }
    .witr_sub_table{
        @apply flex justify-between text-[1.2rem] pb-[8px] border-b-[1px] mb-[8px];
    }
}

@layer components{
    .footer-bottom{
        @apply relative bg-[#18406b] text-white pt-[3rem];
    }
    .copy-right-text{
        @apply flex justify-center pb-[1rem] pt-[1rem] text-[1rem];
    }
    .text-right{
        @apply flex justify-center  gap-[1rem];
        
    }
    .text-right li{
        @apply  hover:text-primary transition-all text-[1rem];
    }
    .row{
        @apply border-t-[1px] lg:flex lg:justify-between lg:items-center lg:max-w-[70rem] lg:mx-auto;
    }
}
